## EKS architecture demo sf1 secrets
cluster-name = "cad-sf1"
region = "us-east-1"

## Change vpn_cidr_block to match your company VPN CIDR if relevant for you. If you aren't sure, try leaving it as is.
vpn_cidr_block = "0.0.0.0/0"
endpoint_public_access = "true"
endpoint_private_access = "true"
ec2_ssh_key = "your-keypair-name"
aws_creds = "/path/to/your/aws/creds"
